# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
venv/

# Env files
.env
.env.e2e

# Django
*.log
local_settings.py
db.sqlite3
media/

# OS / Editor
.DS_Store
.vscode/
.idea/

# Node / Playwright
node_modules/
playwright-report/
test-results/
.npm/
.pnpm-store/
.pnpm-debug.log
